<section class="top-header">
  {% include 'top-header' %}
    <div class="col-md-4 col-xs-12 col-sm-4">
      <ul class="top-menu list-inline float-right">
        <li class="list-inline-item"><a href="/cart"><i class="fa fa-shopping-cart"></i>Cart</a></li>
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <li class="list-inline-item"><a href="/account"><i class="fa fa-user"></i>Account</a></li>
              <li class="list-inline-item"><a href="/account"><i class="fa fa-sign-out"></i>Logout</a></li>
              {% else %}
              <li class="list-inline-item"><a href="/account/login"><i class="fa fa-sign-in"></i>Login</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
      </div>
    </div>
</section>

  {% comment %} best to include as snippet in header {% endcomment %}
  {% include 'menu' %}

  {% comment %} create schema for customising setting in shopify admin {% endcomment %}

{% comment %} Settings of type link_list generate a drop-down that is automatically filled with the names of all the menus in the store. The output of the option the merchant selects from the drop-down is the handle of the link list menu.
link_list settings accept an optional default parameter, which can be set to main-menu or footer {% endcomment %}

{% schema %}

  {
    "name" : "Main Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }

{% endschema %}